<!DOCTYPE html>
<html lang="en">

<head>
     {{>headlinks}}

<body>
    {{>navbar}}
    <!-- main header -->

    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                  <!--main header left  -->
                  <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="image/index4.jpg" alt="" class="img-fluid" title=""/>
                    </figure>
                    
                      </div>
                <div class="col-md-6 col-12 main_header_left">

                    <p>welcome to weather app</p>
                    <h1>I am a <span class="text_clr">Mern Stack Developer</span> for more about</h1>
                    <a href="/weather"><button>about me</button></a>

                </div>
                <!-- main header right -->
                
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
     {{>footer}}
</body>

</html>